.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
}
.header_subline{
    color: #3E2723;
    font-size: 1.2rem;
    font-family: var(--source);
    width: 12%;
    text-align: end;
    position: absolute;
    top: 80%;
    right: 32%;
}
.header_image{
    width: 30%;
    height: 91vh;
    border-radius: 25px;
    margin-right: 1rem;
    background: url("../../assets/truck.png") no-repeat;
    background-size: 240%;
    background-position: 20% 50%;
}
.header_content{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.heading{
    width: 80%;
    text-align: center;
    font-family: var(--lora);
    color: #3E2723;
    font-weight: 00;
    font-size: 3.5rem;
    margin: -2rem;
}

.subtitle{
    width: 70%;
    text-align: center;
    font-family: var(--source);
    font-size: 1.4rem;
}
.btn{
    margin: -1.5rem;
    width: 12rem;
    height: 3rem;
    border-radius: 10px;
    border: 4px solid #8D6E63;
    outline: none;
    font-family: var(--source);
    font-size: 1.2rem;
    background-color: #3E2723;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

