.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgba(0,0,0,0);
    text-decoration: none;
}
.link{
    text-decoration: none;
    color: #8D6E63;
}
.nav_content{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
}

.nav_links{
    font-family: var(--source);
    font-size: 1.3rem;
    cursor: pointer;
}
.logo{
    padding-left: 1.7rem;
    margin-top: -1rem;
    width: 130px;
    height: 110px;
}