.why_container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.why_card_container{
    display: grid;
    place-items: center;
    grid-gap: 1.3rem;
    width: 30%;
    height: 10%;
    grid-row: auto;
    grid-template-columns: 100% 100% 100%;
}
.why_cards_container{
    padding-left: 5.5rem;
}
.why_heading{
    font-size: 1.3rem;
    font-family: var(--source);
    color: #8d6e63;
    position: relative;
    cursor: pointer;
    text-transform:uppercase;
}
.why_sub{
    font-size: 2.1rem;
    font-family: var(--lora);
    color: #3E2723;
    width: 40%;
    margin-top: -0.3rem;
}
.why_card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 0rem;
}
.why_card h3{
    font-size: 1.6rem;
    font-family: var(--source);
    color: #8d6e63;

}
.why_card p{
    font-size: 1.2rem;
    font-family: var(--source);
    color: #000;
}