.why_container{
    display: grid;
    place-items: center;
    grid-row-gap: 2rem;
    width: 50%;
    height: 20%;
    grid-row: auto;
    grid-template-columns: 100% 100%;
    margin: -3.4rem 0 3rem 0;
}

.why_card{
    display: flex;
    gap: 1.3rem;
    align-items: center;
    width: 40%;
    height: 130%;
    font-size: 1.3rem;
    font-family: var(--source);
    padding: 0 1rem;
}
.why_card span{
    
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffb200;
    display: flex;
    justify-content: center;
    align-items: center;
}