@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Source+Sans+Pro:wght@300;400&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --lora: 'Lora', serif;
  --source: 'Source Sans Pro', sans-serif;
  --white: '#fff';
  --orange: '#ffb200';
  --dark-brown: '#3E2723';
  --medium-brown: '#8D6E63';
  --light-gray: '#d9d9d9';
}
